.git
.gitignore
.DS_Store

target
rust/target
bpmn-lite/target
node_modules
ob-poc-ui-react/node_modules

docs
ai-thoughts
examples
scripts
scrapers
scraper
scenarios

*.md
!README.md

docker-compose.yml
plan.md

sql
migrations
schema_export.sql
*.docx
